@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --left-bg-color: rgba(236, 84, 87, .6);
    --right-bg-color: rgba(87, 84, 236, .6);

    --left-btn-hover-color: rgba(236, 84, 87, 1);
    --rigth-btn-hover-color: rgba(87, 84, 236, 1);

    --hover-width: 75%;
    --other-width: 25%;

    --speed: 1500ms;

    --primary-font: 'Poppins', sans-serif;
    --text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: var(--primary-font);
    text-decoration: none;
}

body {
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 4rem;
    color: var(--text-color);
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    white-space: nowrap; /* Não quebra a linha */
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url('assets/img/amdCpu.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}

.split.right {
    right: 0;
    background: url('assets/img/intel.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
    transition: all var(--speed) ease-in-out;
}

.btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    color: var(--text-color);
    border: .2rem solid var(--text-color);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
}

.split.left .btn:hover {
    background: var(--left-btn-hover-color);
    border: var(--left-btn-hover-color);
}

.split.right .btn:hover {
    background: var(--rigth-btn-hover-color);
    border: var(--rigth-btn-hover-color);
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}

@media (max-width: 1200px){
    .btn {
        width: 13rem;
    }
}


@media (max-width: 800px) {
    h1 {
        font-size: 2rem;
        top: 30%;
    }

    .btn {
        padding: 1.2rem;
        width: 12rem;
    }
}
